# Learn more https://docs.github.com/en/get-started/getting-started-with-git/github/using-github/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
server/.env
supabase
mongo_service

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

app.json
.gitignore
mongo_service
setup_tables.sql
test_hashes.js

.vercel

# build artifacts
dist/
dist.zip
