/Documents/NetBeansProjects/MyApplet/nbproject/private/
/Documents/NetBeansProjects/MyApplet/build/
/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/HelloJava/nbproject/private/
/Documents/NetBeansProjects/HelloJava/build/
/Documents/NetBeansProjects/MyJavaMedia/nbproject/private/
/Documents/NetBeansProjects/MyJavaMedia/dist/
/Documents/NetBeansProjects/MyJavaMedia/build/
/Documents/NetBeansProjects/MyPhotoAblum/nbproject/private/
/Documents/NetBeansProjects/MyPhotoAblum/dist/
/Documents/NetBeansProjects/MyPhotoAblum/build/
/Documents/NetBeansProjects/Hangman/nbproject/private/
/Documents/NetBeansProjects/Hangman/build/
/Documents/NetBeansProjects/WordShuffle/nbproject/private/
/Documents/NetBeansProjects/WordShuffle/build/
/Documents/NetBeansProjects/Sentence/nbproject/private/
/Documents/NetBeansProjects/Sentence/build/
/Documents/NetBeansProjects/Hue/nbproject/private/
/Documents/NetBeansProjects/Hue/build/
/Documents/NetBeansProjects/Numero/nbproject/private/
/Documents/NetBeansProjects/Numero/build/
/Documents/NetBeansProjects/Numbers/nbproject/private/
/Documents/NetBeansProjects/Numbers/build/
/Documents/NetBeansProjects/Numberchef/nbproject/private/
/Documents/NetBeansProjects/promiseguess/nbproject/private/
/Documents/NetBeansProjects/promiseguess/build/
/Documents/NetBeansProjects/Promiseguess/nbproject/private/
/Documents/NetBeansProjects/Assignment/nbproject/private/
/Documents/NetBeansProjects/Assignment/build/
/Documents/NetBeansProjects/Guess/nbproject/private/
/Documents/NetBeansProjects/Guess/build/
/Documents/NetBeansProjects/Beaugame/nbproject/private/
/Documents/NetBeansProjects/Beaugame/build/
/Documents/NetBeansProjects/GuessWhat/nbproject/private/
/Documents/NetBeansProjects/GuessWhat/build/
/Documents/NetBeansProjects/new1/nbproject/private/
/Documents/NetBeansProjects/JavaLibrary1/nbproject/private/
/Documents/NetBeansProjects/new1/build/
/Documents/NetBeansProjects/number2/nbproject/private/
/Documents/NetBeansProjects/number2/build/
/Documents/NetBeansProjects/number3/nbproject/private/
/Documents/NetBeansProjects/number3/build/
/Documents/NetBeansProjects/Array/nbproject/private/
/Documents/NetBeansProjects/Array/build/
/Documents/NetBeansProjects/Sheet/nbproject/private/
/Documents/NetBeansProjects/Sheet/build/